* {
  box-sizing: border-box;
}

body {
  background-color: $lightgrey;
}

main {
  position: relative;
  top: 60px;
}

.g__container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 940px;
}

img {
  width: 100%;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  &.portrait {
    max-width: 300px;
  }
}

article {
  margin: 1rem 0 4rem 0;
  padding: 1rem;
  background-color: $white;
  text-align: center;
  &.slide-in-top {
    animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  > div {
    padding: 2rem 4rem;
  }
  span {
    position: absolute;
    top: 2.4rem;
    left: 1.2rem;
    width: 30px;
    cursor: pointer;
  }
}
