* {
  box-sizing: border-box;
}

body {
  background-color: #656565;
}

.g__container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 940px;
}

img {
  width: 100%;
}

article {
  margin: 1rem 0 4rem 0;
  padding: 1rem;
  background-color: $white;
  text-align: center;
  > div {
    padding: 2rem 4rem;
  }
}
