@import url(https://fonts.googleapis.com/css?family=Indie+Flower&display=swap);

%Text {
  font-size: 16px;
  font-family: 'Indie Flower', sans-serif;
  line-height: 21px;
}

%Title {
  text-transform: uppercase;
  @extend %Text;
}

html {
  font-size: 100%;
}

body {
  @extend %Text;
}

h1 {
  font-size: 32px;
  line-height: 42px;
  @extend %Title;
}
