{% include base/head.html %}

<main id="swup" class="transition-fade">

  <nav class="g__nav">
    <a href="{{ site.baseurl }}">&lsaquo;</a>
    <img src="{{ site.baseurl }}img/logo.jpg" alt="logo" />
  </nav>
  
  <div class="g__container">
    <article class="slide-in-right">
      <h1>{{ page.title }}</h1>
      <img src="{{ site.baseurl }}img/{{ page.url | split: '/' | shift | join: '-' }}.jpg" alt="G|D Blog" />
      <!-- <div>
        {{ content }}
      </div> -->
    </article>
  </div>
  
</main>

{% include base/foot.html %}