.g__cards {
  padding: 4rem 0;
  > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  a {
    margin: 0 1rem;
    color: $black;
    text-decoration: none;
  }
}

.g__card {
  padding: 1rem;
  max-width: 300px;
  background-color: $white;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.4);
  text-align: center;
  transition: transform 0.2s;
  transform: scale(1);
  h2 {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(0.98);
  }
  img {
    width: 100%;
  }
}
