.g__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  img {
    display: inline-block;
    padding: 1rem;
    width: 75px;
  }
  &__home {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    img {
      width: 55px;
    }
  }
}
